# skeleton bash completion for steroids
# steroids? https://github.com/AppGyver/steroids 
_steroids() {
	local cur prev opts
	COMPREPLY=()
	cur="${COMP_WORDS[COMP_CWORD]}"
	prev="${COMP_WORDS[COMP_CWORD-1]}"
	opts="%OPTS%"


	case "${prev}" in
		steroids)
			COMPREPLY=( $(compgen -W "${opts}" -- ${cur}) )
			return 0
			;;
		*)
			_filedir
			return 0
			;;
	esac
}
complete -F _steroids steroids